* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}



header {
  position: relative;
}

header .container {
  position: relative;
}

header h1 {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 66px;
  text-shadow: 2px 2px 2px black;
}

header .img-frame {
  position: relative;
  width: 500px;
  height: 280px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.82;
}

header .img-frame img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}



nav {
  display: flex;
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}

p {
  font-size: 18px;
  line-height: 1.5;
  max-width: 800px;
  text-align: center;
  margin-bottom: 20px;
}

section,
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

td,
th {
  text-align: center;
}


footer {
  background-color: #333;
  position: relative;
  height: 20px;
  width: 100%;
  padding: 20px;
}

footer p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: auto;
}

label {
  color: rgb(56, 43, 43);
  font-size: 25px;
}

input {
  width: 100%;
  padding: 5px;

}





input[type="radio"] {
  width: 5%;
}

input[type="checkbox"] {
  width: 5%;
}

input[type="image"] {
  width: 10%;
  flex-direction: row;
}

input[type="color"] {
  width: 50px;
  height: 50px;
}


fieldset {
  display: flex;
  flex-direction: column;

}

fieldset.info {
  margin: 0 auto;
  border: 5px solid #080c08;
  border-radius: 10px;
  padding: 20px;
  
}

#pergunta1,
#pergunta2,
#pergunta3,
#pergunta4,
#pergunta5,
#pergunta6,
#pergunta8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#pergunta7 {
  text-align: center;
}

#image input[type="image"] {
  margin: 0 5px;
}

select {
  display: flex;
  flex-direction: row;
  margin: auto;
}