*{
    font-family: sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}


header {
    position: relative;
  }
  
  header .container {
    position: relative;
  }
  
  header h1 {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 66px;
    text-shadow: 2px 2px 2px black;
  }
  
  header .img-frame {
    position: relative;
    width: 500px;
    height: 280px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.82;
  }
  
  header .img-frame img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  
  


nav {
    display: flex;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}
  
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}
  
nav a:hover {
    background-color: #555;
}

p{
    font-size: 18px;
    line-height: 1.5;
    max-width: 800px;
    text-align: center;
    margin-bottom: 20px;
}
  
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

td,th{
    text-align: center;
}